html body{
  padding: 0px;
  margin: 0px;
}

html{
  background-color: #282828;
}

body{
  height: 100%;
}

#outercontainer{
  width: 100%;
  background-size: cover;
}

.blue-background{
  background-image: url(/students/droussy1/finalproject/protosite/img/blue-background.png);
}

.white-background{
  background-image: url(/students/droussy1/finalproject/protosite/img/white-background.png);
}

header{
  width: 100%;
  min-height: 100px;
  background-color: #032983;
}

#header-inner{
  width: 1000px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin: 0px auto;
}

#header-inner img{
  display: block;
  margin: 0px auto 0px auto;
}

/*begin navigation section*/

nav{
  width: 100%;
  background-color: #032983;
  margin: 0px auto;
  padding: 10px;
}

.nav-inner{
  margin: 0px auto;
  width: 1000px;
}

.nav-inner ul, .nav-inner li {
	margin: 0;
	padding: 0;
}
.nav-inner ul {
	background: gray;
	list-style: none;
	width: 100%;
}
.nav-inner li {
	float: left;
	position: relative;
	width: auto;
}
.nav-inner a {
	background: #032983;
	color: #FFFFFF;
	display: block;
	font-family: 'Montserrat', Arial, serif;
	padding: 10px 25px;
	text-align: center;
	text-decoration: none;
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-ms-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease;
}
.nav-inner li:hover a {
	background: #0959a5;
  border-radius: 10px;
}
.submenu {
	left: 0;
	opacity: 0;
	position: absolute;
	top: 35px;
	visibility: hidden;
	z-index: 1;
}
li:hover ul.submenu {
	opacity: 1;
	top: 40px;	/* adjust this as per top nav padding top & bottom comes */
	visibility: visible;
}
.submenu li {
	float: none;
	width: 100%;
}
.submenu a:hover {
	background: #DF4B05;
}
.submenu a {
	background-color:#000000;
}

/*end navigation section*/

main{
  width: 1100px;
  margin: 0px auto 0px auto;
  padding: 10px;
  display: block;
}


/* Dashboard home page buttons */

#dashboard-buttons{
  width: 950px;
  margin: 150px auto 200px auto;
  padding: 25px;
}

#dashboard-buttons h1{
  font: 'Montserrat', Arial, serif;
  color: #032983;
  font-size: 46px;
  text-align: center;
}

.button-row{
  width: 900px;
  margin: 0px auto;
  padding: 0px 0px 30px 0px;
}

.button{
  width: 200px;
  height: 100px;
  padding: 0px;
  margin: 0px 48px;
  border-radius: 10px;
  display:inline-block;
  font-size:12px;
  font-family: 'Montserrat', Arial, serif;
  text-align: center;
  font-weight:bold;
  color: #FFFFFF;
  background-color: #032983; 
}

.button:hover{
 background-color: #0959a5;
}

.button-icon{
  
}

.button-label{
  
}

/* End dashboard home page buttons */


.contentblock{
  width: 1100px;
  margin: 5px auto 5px auto;
  padding-bottom: 15px;
}

.content-1col{
  width: 1100px;
}

.content-2col{
  width: 500px;
  display: inline-block;
}

.content-3col{
  vertical-align: top;
  width: 330px;
  display: inline-block;
  margin: 0px auto;
}

.content-3col-middle{
  vertical-align: top;
  width: 330px;
  display: inline-block;
  margin: auto;
  padding: 0px 50px 0px 50px;
}

.content-3col .icon{
  width: 150px;
  margin: 0px auto;
}

ul{
  padding-bottom: 10px;
}

li{
  padding-bottom: 5px;
}

.float_right{
  float: right;
}

.border{
  padding:2px;
  border:3px solid #DF4B05;
  background-color:#282828;
  margin: 10px;
}

#footer {
  width: 100%;
  min-height: 25px;
  background-color: #282828;
}

#footer-inner{
  margin: 0px auto;
  width: 1100px;
  padding-top: 10px;
  padding-bottom: 5px;
}