html body{
  padding: 0px;
  margin: 0px;
}

html{
  background-color: #282828;
}

body{
  height: 100%;
}

#outercontainer{
  width: 100%;
}

.blue-background{
  background-image: url(/students/droussy1/finalproject/protosite/img/blue-background.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.white-background{
  background-image: url(/students/droussy1/finalproject/protosite/img/white-background.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

header{
  width: 100%;
  min-height: 110px;
  background-color: #032944;
}

#header-inner{
  width: 1050px;
  margin: 0px auto;
}

#header-inner img{
  padding-top: 10px;
  display: inline;
}

#header-inner h1{
  font: 'Montserrat', Arial, serif;
  color: #fff;
  font-size: 36px;
  padding: 20px 0px;
  margin: 0px;
  display: inline;
}

/*begin navigation section*/

nav{
  width: 100%;
  height: 50px;
  background-color: #032983;
  margin: 0px auto;
  padding: 10px;
}

.nav-inner{
  margin: 5px auto;
  width: 1050px;
  background-color: #032983;
}

.nav-inner ul, .nav-inner li {
	margin: 0;
	padding: 0;
}
.nav-inner ul {
	background: gray;
	list-style: none;
	width: 100%;
}
.nav-inner li {
	float: left;
	position: relative;
	width: auto;
}
.nav-inner a {
	background: #032983;
	color: #FFFFFF;
	display: block;
	font-family: 'Montserrat', Arial, serif;
	padding: 10px 25px;
	text-align: center;
	text-decoration: none;
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-ms-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease;
}
.nav-inner li:hover a {
	background: #0959a5;
  border-radius: 10px;
}
.submenu {
	left: 0;
	opacity: 0;
	position: absolute;
	top: 35px;
	visibility: hidden;
	z-index: 1;
}
li:hover ul.submenu {
	opacity: 1;
	top: 40px;	/* adjust this as per top nav padding top & bottom comes */
	visibility: visible;
}
.submenu li {
	float: none;
	width: 100%;
}
.submenu a:hover {
	background: #DF4B05;
}
.submenu a {
	background-color:#000000;
}

/*end navigation section*/

main{
  width: 1050px;
  margin: 0px auto 0px auto;
  padding: 10px;
  display: block;
}
/* side navigation menu for lecture pages */

#side-nav{
  float:right;
  margin-top: 92px;
  width: 250px;
}

#side-nav-contents{
  width: 100%;
  background-color: white;
  border-radius: 10px;
  padding-bottom: 10px;
}

.side-nav-headings{
  width: 100%;
  margin-top: 15px;
  /*padding: 5px 5px 5px 15px;*/
  background-color: #9e0b0f;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: block;
}

.side-nav-headings h3{
  background-color: #9e0b0f;
  margin-left: 10px;
  padding: 5px 0px;
  font-family: 'Montserrat', Arial, serif;
  font-size: 14px;
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#side-nav-toc{
  width: 220px;
  margin-left: 20px;
  margin-bottom: 15px;
  background-color: white;
  display: block;
}

#side-nav-exercises{
  width: 220px;
  margin-left: 20px;
  margin-bottom: 15px;
  background-color: white;
  display: block;
}

#side-nav-resources{
  width: 220px;
  margin-left: 20px;
  margin-bottom: 15px;
  background-color: white;
  display: block;
}


/* end side navigation for lecture pages */



/* Dashboard home page buttons */

#dashboard-buttons{
  width: 950px;
  margin: 20px auto 20px auto;
}

#dashboard-buttons h1{
  font: 'Montserrat', Arial, serif;
  color: #032983;
  font-size: 46px;
  text-align: center;
  padding: 0px;
}

.button-row{
  width: 900px;
  margin: 0px auto;
  padding: 0px 0px 30px 0px;
}

.button{
  width: 200px;
  height: 200px;
  padding: 0px;
  margin: 0px 48px;
  border-radius: 10px;
  display:inline-block;
  font-size:12px;
  font-family: 'Montserrat', Arial, serif;
  text-align: center;
  font-weight:bold;
  color: #FFFFFF;
  background-color: #032983; 
}

.button:hover{
 background-color: #0959a5;
}

.button-icon{
  margin-top: 15px;
}

.button-icon img{
  margin: 0px auto;
}

.button-label{
  display: block;
}

.button-label h3{
  font-family: 'Montserrat', Arial, serif;
  font-size: 18px;
  color: white;
}

/* End dashboard home page buttons */

/* lecture pages content blocks and classes */

#lecture-heading{
  width: 1050px;
  background-color: #9e0b0f;
  border-radius: 10px;
}

#lecture-heading h1{
  padding: 10px;
  font-family: 'Montserrat', Arial, serif;
  color: white;
}

.lecture-sub-heading{
  width: 775px;
  background-color: #9e0b0f;
  border-radius: 10px;
}

.lecture-sub-heading h1{
  padding: 10px;
  font-family: 'Montserrat', Arial, serif;
  color: white;
}

#lesson{
  width: 775px;
  margin-top: 25px;
}

.lesson-block{
  width: 100%;
  background-color: white;
  border-radius: 10px;
  padding-bottom: 10px;
}

.lesson-heading{
  width: 100%;
  margin-top: 15px;
  /*padding: 5px 5px 5px 15px;*/
  background-color: #9e0b0f;
  border-radius: 10px 10px 0px 0px;
  display: block;
}

.lesson-heading h1{
  font-family: 'Montserrat', Arial, serif;
  color: white;
  margin-left: 15px;
  padding: 5px 0px;
}

.lesson-content{
  width: 730px;
  margin-left: 20px;
  margin-bottom: 15px;
  background-color: white;
  display: block;
}

.exercise-heading{
  
}

.resource-link {
  
}

/* end lecture pages content blocks and classes */


ul{
  padding-bottom: 10px;
}

li{
  padding-bottom: 5px;
}

.float_right{
  float: right;
}

.border{
  padding:2px;
  border:3px solid #DF4B05;
  background-color:#282828;
  margin: 10px;
}

#footer {
  width: 100%;
  min-height: 25px;
  background-color: #282828;
}

#footer-inner{
  margin: 0px auto;
  width: 1100px;
  padding-top: 10px;
  padding-bottom: 5px;
}