p {
  font-family: 'Montserrat', Arial, serif;
  font-weight: 400;
  font-size: 15px;
  color: #032983;
}

ul li{
  font-family: 'Montserrat', Arial, serif;
  font-weight: 400;
  font-size: 15px;
  color: white;
}

a {
  font-family: 'Montserrat', Arial, serif;
  font-weight: 400;
  font-size: 15px;
  color: white;
}

blockquote{
  font-family: 'Montserrat', Arial, serif;
  font-weight: 700;
  font-style: italic;
  font-size: 25px;
  color: white;
}

h1, h2 {
  font-family: 'Montserrat', Arial, serif;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
}

h1 {
  font-size: 30px;
  padding: 0;
}

h2 {
  font-size: 24px;
  font-style: italic;
}

